.profile__person-status {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  text-overflow: ellipsis;
  max-width: 350px;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .profile__person-status {
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .profile__person-status {
    font-size: 14px;
    line-height: 17px;
    max-width: 240px;
  }
}