body {
  background-color: black;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  max-width: 922px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 320px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url(./vendor/normalize.css);
@import url(./fonts/inter.css);
/* Голова */
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo-image/header__logo-image.css);
@import url(./blocks/header/__wrapper/header__wrapper.css);
@import url(./blocks/header/__sign-up/header__sign-up.css);
@import url(./blocks/header/__email/header__email.css);

/* RESPONSE*/
@import url(./blocks/popup-response/popup-response.css);
@import url(./blocks/popup-response/__wrapper/popup-response__wrapper.css);
@import url(./blocks/popup-response/__title/popup-response__title.css);
@import url(./blocks/popup-response/__content/popup-response__content.css);
@import url(./blocks/popup-response/__image/popup-response__success.css);
@import url(./blocks/popup-response/__image/popup-response__fail.css);
/* LOGIN */

@import url(./blocks/log-in/log-in.css);
@import url(./blocks/log-in/__title/log-in__title.css);
@import url(./blocks/log-in/__submit/log-in__submit.css);
@import url(./blocks/log-in/__input/log-in__input.css);
@import url(./blocks/log-in/__subtitle/log-in__subtitle.css);
@import url(./blocks/log-in/__sign-in/log-in__sign-in.css);

/* Тело */
@import url(./blocks/root/root.css);

/* Ноги */
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

/* Профиль */
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar-image/profile__avatar-image.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__wrapper/profile__wrapper.css);
@import url(./blocks/profile/__person-name/profile__person-name.css);
@import url(./blocks/profile/__person-status/profile__person-status.css);
@import url(./blocks/profile/__btn-edit/profile__btn-edit.css);
@import url(./blocks/profile/__btn-add/profile__btn-add.css);
@import url(./blocks/profile/__avatar-wrapper/profile__avatar-wrapper.css);
@import url(./blocks/profile/__avatar-overlay/profile__avatar-overlay.css);

/* Место под карточки */
@import url(./blocks/cards/cards.css);

/* Карточка */
@import url(./blocks/card/card.css);
@import url(./blocks/card/__image-wrapper/card__image-wrapper.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__text-wrapper/card__text-wrapper.css);
@import url(./blocks/card/__text/card__text.css);
@import url(./blocks/card/__btn-like/card__btn-like.css);
@import url(./blocks/card/__btn-like/_active/card__btn-like_active.css);
@import url(./blocks/card/__btn-remove/card__btn-remove.css);
@import url(./blocks/card/__counter-like/card__counter-likes.css);

/* Попап общий */
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_active/popup_active.css);
@import url(./blocks/popup/__overlay/popup__overlay.css);

/* Попап удаления карточки */
@import url(./blocks/popup-delete-card/popup-delete-card.css);
@import url(./blocks/popup-delete-card/__wrapper/popup-delete-card__wrapper.css);
@import url(./blocks/popup-delete-card/__content/popup-delete-card__content.css);
@import url(./blocks/popup-delete-card/__btn-delete/popup-delete-card__btn-delete.css);
@import url(./blocks/popup-delete-card/__title/popup-delete-card__title.css);

/* Попап редактироания профиля */
@import url(./blocks/popup-profile-edit/__content/popup-profile-edit__content.css);
@import url(./blocks/popup-profile-edit/__wrapper/popup-profile-edit__wrapper.css);

/* Попап добаления карточки */
@import url(./blocks/popup-add-card/popup-add-card.css);
@import url(./blocks/popup-add-card/__content/popup-add-card__content.css);
@import url(./blocks/popup-add-card/__title/popup-add-card__title.css);
@import url(./blocks/popup-add-card/__wrapper/popup-add-card__wrapper.css);

/* Попап редактирования профиля */
@import url(./blocks/popup-profile/popup-profile.css);
@import url(./blocks/popup-profile/__content/popup-profile__content.css);
@import url(./blocks/popup-profile/__title/popup-profile__title.css);
@import url(./blocks/popup-profile/__wrapper/popup-profile__wrapper.css);

/* Попап открытия карточки */
@import url(./blocks/popup-img/popup-img.css);
@import url(./blocks/popup-img/__image/popup-img__image.css);
@import url(./blocks/popup-img/__subtitle/popup-img__subtitle.css);
@import url(./blocks/popup-img/__wrapper/popup-img__wrapper.css);

/* Кнопка закрытия попапа */
@import url(./blocks/popup/__btn-close/popup__btn-close.css);

/* Кнопка формы */
@import url(./blocks/popup/__btn-save/popup__btn-save.css);
@import url(./blocks/popup/__btn-save/_state/popup__btn-save_state_valid.css);
@import url(./blocks/popup/__btn-save/_state/popup__btn-save_state_invalid.css);

/* Форма */
@import url(./blocks/popup/__form/popup__form.css);

/* Инпут */
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_status/popup__input_status_invalid.css);

/* Ошибки */
@import url(./blocks/error/error.css);

